html, body {
    margin:0;
    padding:0;
}
* {
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
body {
    min-height: 100vh;/*resp*/
    background: linear-gradient(180deg, rgba(2,0,0,1) 0%, rgba(50, 6, 73,0.9) 35%, rgba(9,9,121) 70%, rgba(0,212,255,1) 100%);
    display: flex; /*resp*/
    flex-direction: column; /*resp*/
    justify-content: space-between; /*resp*/
}
button {
    background-color: rgba(114, 4, 85, 0.2);
    border-radius: 100%;
    color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    margin: 2.0em;
    border-color: rgba(65, 183, 233, 0.816);
    border-style: inset;
    letter-spacing: 5px;
}
a {
    text-decoration: none;
    color: white;
}
hr{
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, rgba(2,0,0,1) 0%, rgba(50, 6, 73,0.9) 50%, rgba(9,9,121) 90%, rgba(0,212,255,1) 100%);
    border:none;
    margin:0;
}
.txt-center {
    text-align: center;
}
.txt-space{ 
    color: white;
    font-size: x-large;
    letter-spacing: 10px;
}
.txt-hidden {
    color:grey;
}
header {
    background-color: rgba(0 , 0, 0, 0.3);
} 
footer {
    background-color: rgba(0, 0, 0, 0.96);
}
.img-resp {
    width: 100%; /*resp*/
    max-width: 600px; /*resp*/
    height: 350px;
}
.made_resp {
    display: flex; /*resp*/
    flex-wrap: wrap; /*resp, envolvedor, desplaza hacia abajo en la pantalla*/
    justify-content: center; /*centra los flex*/
}
iframe {
    margin: 10px;
}